ul li{position: relative;}
ul ul a{color: black;}
ul ul{
    position: absolute;
    top: 20px;
    left: 0;
    width: 150px;
    display: none;
    background: #fff;
}
ul li:hover ul{display: block;}