<header>
    <div class="w-[1200px] mx-auto">
        <ul class="flex gap-10">
            <li>
                <a class="py-12">Home</a>
            </li>
            <li>
                <a class="py-12">Product</a>
            </li>
            <li>
                <a class="py-12">New</a>
            </li>
            <li>
                <a class="py-12">About</a>
            </li>
            <li>
                <a class="py-12">Contact</a>
            </li>
        </ul>
    </div>
</header>
