   <p> {{logo}}</p>
    {{display()}}
    <!-- {{menus}} -->
     <ul>
     @for (menu of menus; track menu.id;let idx = $index;let odd =$odd){
       <!-- @if (odd){
         <li><a style="color: red;" href="{{menu.url}}">{{idx+1}}. {{menu.name}}</a></li>
       }
       @else {
         <li><a style="color: blue;" href="{{menu.url}}">{{idx+1}}. {{menu.name}}</a></li>
       } -->
         @if (menu.parent==0){
            <li>
                <a style="color: red;" href="{{menu.url}}">{{menu.name}}</a>
               @if (isChildrentMenu(menu.id)){
                <ul>
                    @for(submenu of menus;track submenu.id){
                        @if (submenu.parent==menu.id){
                        <li><a href="{{submenu.url}}">{{submenu.name}}</a></li>
                        }
                    }
                </ul>
                }
            </li>
         }
     }
     </ul>

@if (show){
    <p>Hiển thị nội dung</p>
}
@else {
    <p>Nội dung bị ẩn</p>
}