<form [formGroup]="producform" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
    <label>Tên sản phẩm</label>
    <input class="p-2 border border-1" type="text" placeholder="Tên sản phẩm" formControlName="name"/>
    <p *ngIf="!producform.controls.name.valid&&(producform.controls.name.dirty||producform.controls.name.touched)">Tên không được để trống</p>
    <label>Ảnh sản phẩm</label>
    <input class="p-2 border border-1" type="text" placeholder="Ảnh sản phẩm" formControlName="image"/>
    <label>Chọn danh mục</label>
    <select class="p-2 border border-1" formControlName="category">
        <option value="1">Fashion</option>
        <option value="2">Jewelry</option>
    </select>
    <label>Giá sản phẩm</label>
    <input class="p-2 border border-1" type="number" formControlName = "price"/>
    <button class="p-2 max-w-[200px] border border-1 bg-[blue] text-white" type="submit" [disabled]="!producform.valid">Thêm mới sản phẩm</button>
</form>
<h1>Danh sách sản phẩm</h1>
<table>
    <thead>
        <tr>
            <th>STT</th>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Giá tiền</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products;track product.id; let i =$index){
            <tr>
                <td>{{i+1}}</td>
                <td><img class="max-w-[90px]" src="{{product.image}}"/></td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td><a href="admin/product/edit/{{product.id}}">Sửa</a><button>Xóa</button></td>
            </tr>
        }
    </tbody>
</table>