<app-header/>
<h2 [class.active]="show">{{title}}</h2>
<h2 [class]="[name,'font-bold']">Đây là vị trí footer</h2>
<button (click)="handleClick()">Thay đổi trạng thái</button>
<h1>Phần 2. Style</h1>0
<h2 [style]="{'background':background,'color':'white'}">Hiển thị style</h2>
<h2 [style.background]="background">Hiển thị style theo thuộc tính</h2>
<h1>Phần 3. Tương tác 2 chiều</h1>
<input type="text" placeholder="Nhập gì đó vào đây" [(ngModel)]="keywords"/>
Gía trị thay đổi theo input: {{keywords}}
<button (click)="handleShowHide()">Ẩn/Hiện</button>
@if (show){
    <p>Xin chào WD20309</p>
}
@else {
    <p>Tạm biệt WD20309</p>
}
<input type="text" placeholder="Tên CV" [(ngModel)]="name"/>
<input type="text" placeholder="Độ ưu tiên" [(ngModel)]="priority"/>
<button (click)="addTodos()">Thêm</button>
<h1>Danh sách công việc</h1>
<ul>
@for (item of todos; let i = $index;let even = $even;let isFirst =$first;let isLast = $last; track item.name;) {
    <!-- @if (isFirst){
<li [style.font-weight] = "'bold'">{{i+1}}. {{item.name}} - Độ ưu tiên: {{item.priority}}</li>
    }
    @else{
        <li>{{i+1}}. {{item.name}} - Độ ưu tiên: {{item.priority}}</li>
    }
    @if (isLast){
<li [style.font-style] = "'italic'">{{i+1}}. {{item.name}} - Độ ưu tiên: {{item.priority}}</li>
    }
    @else{
        <li>{{i+1}}. {{item.name}} - Độ ưu tiên: {{item.priority}}</li>
    } -->
         <li [style.font-weight]="isFirst?'bold':''" [style.font-style]="isLast?'italic':''">{{i+1}}. {{item.name}} - Độ ưu tiên: {{item.priority}}</li>
}
</ul>