<app-header/>
<div class="flex flex-col gap-2 max-w-2xl mx-auto mt-8">
<input class="border px-2 py-1 w-2xl" type="text" [(ngModel)]="title" placeholder="Tên SP"/>
<input class="border px-2 py-1 w-2xl" type="text" [(ngModel)]="image" placeholder="Ảnh SP"/>
<input class="border px-2 py-1 w-2xl" type="text" [(ngModel)]="price" placeholder="Giá SP"/>
<button (click)="onSubmit()">Thêm mới</button>
</div>
<button (click)="getAllProduct()">Tải sản phẩm</button>
<p>{{title}}</p>
<button class="border px-4 py-1 rounded" (click)="showhide()">Ẩn/Hiện</button>
<div *ngIf="show; else showfalse" class="text-red-700 text-[32px] font-bold">Hello world</div>
<ng-template #showfalse>
    <div>Show false</div>
</ng-template>
<h1 class="text-red-700 text-[24px] font-bold">Thông tin sản phẩm</h1>
<div class="max-w-6xl mx-auto grid grid-cols-4 gap-4">
    <!-- <div *ngFor="let product of products; index as i"> -->
    @for(product of products; track product.id; let i = $index){
        <app-productitem [product]="product"></app-productitem>
    }   
    <!-- </div> -->
</div>
<app-footer/>