
<h1>THêm mới sinh viên</h1>
<form [formGroup]="studentform" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="tên sv" formControlName="name"/>
    <span *ngIf="!studentform.controls.name.valid&&(studentform.controls.name.dirty||studentform.controls.name.touched)">
    Tên không được để trống & >7 kí tự
    </span>
    <input type="number" placeholder="tuổi" formControlName="age"/>
    <input type="text" placeholder="Địa chỉ Email" formControlName="email"/>
    <span *ngIf="!studentform.controls.email.valid&&(studentform.controls.email.dirty||studentform.controls.email.touched)">
        Email không đúng định dạng
        </span>
    <input type="text" placeholder="SĐT" formControlName="phone"/>
    <span *ngIf="!studentform.controls.phone.valid&&(studentform.controls.phone.dirty||studentform.controls.phone.touched)">
        Điện thoại không đúng định dạng
        </span>
    <button class="bg-slate-300" type="submit" [disabled]="!studentform.valid">Thêm mới</button>
</form>

<table class="w-full my-6">
    <thead class="bg-[#ccc]">
        <tr>
            <th class="p-2 border">STT</th>
            <th class="p-2 border">Họ tên</th>
            <th class="p-2 border">Tuổi</th>
            <th class="p-2 border">Địa chỉ</th>
            <th class="p-2 border">Tên lớp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students;index as i">
            <td class="border p-2">{{i+1}}</td>
            <td class="border p-2">{{student.name}}</td>
            <td class="border p-2">{{student.age}}</td>
            <td class="border p-2">{{student.address}}</td>
            <td class="border p-2">{{student.classname}}</td>
        </tr>
    </tbody>
</table>
