<form [formGroup]="studentform" (ngSubmit)="onEditStudent()">
    <input type="text" placeholder="tên sv" formControlName="name"/>
    <span *ngIf="!studentform.controls.name.valid&&(studentform.controls.name.dirty||studentform.controls.name.touched)">
    Tên không được để trống & >7 kí tự
    </span>
    <input type="number" placeholder="tuổi" formControlName="age"/>
    <input type="text" placeholder="Địa chỉ Email" formControlName="email"/>
    <span *ngIf="studentform.controls.email.errors?.['email']&&(studentform.controls.email.dirty||studentform.controls.email.touched)">
        Email không đúng định dạng
        </span>
    <span *ngIf="studentform.controls.email.errors?.['required']&&(studentform.controls.email.dirty||studentform.controls.email.touched)">
        Email không được để trống
        </span>
    <input type="text" placeholder="SĐT" formControlName="phone"/>
    <span *ngIf="!studentform.controls.phone.valid&&(studentform.controls.phone.dirty||studentform.controls.phone.touched)">
        Điện thoại không đúng định dạng
        </span>
    <button class="bg-slate-300" type="submit" [disabled]="!studentform.valid">Cập nhật</button>
</form>